$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//variables
$white: #fff;
$black: #000;
$bg-blue: #3498db;
$screen-radius: 20px;

//font variables
$roboto: 'Roboto', sans-serif;
$helloWorld: 'Cutive Mono', sans-serif;

// fix to reload Google fonts - Roboto
body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin font($family, $size, $height) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
}

// keyframe mixins
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

// CSS Animations
@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-15px));
  }
  60% {
    @include transform(translateY(-7px));
  }
}

// typing animation
@include keyframes(typing) {
  from {
    width: 0;
  }
  to {
    width: 7.3em;
  }
}

// @-webkit-keyframes typing {
//     from { width: 0 }
//     to { width: 7.3em }
// }

// @-moz-keyframes typing {
//     from { width: 0 }
//     to { width: 7.3em }
// }

//blinkin caret animation
@include keyframes(blink-caret) {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: $black
  }
}

@include keyframes(color_change) {
  from {
    background-color: $black;
  }
  to {
    background-color: #2ecc71;
  }
}

// @-webkit-keyframes blink-caret {
//     from, to { border-color: transparent }
//     50% { border-color: black }
// }

// @-moz-keyframes blink-caret {
//     from, to { border-color: transparent }
//     50% { border-color: black }
// }

// CRT style blinking animation keyframe
@include keyframes(crt-on) {
  0% {
    opacity: 0.0;
    transform: scale(0.5, 0.005);
    box-shadow: inset 0 9999px 0 rgba(255,255,255,1.0);
  }
  40% {
    opacity: 1.0;
  }
  70% {
    transform: scale(1.0, 0.005);
    box-shadow: inset 0 9999px 0 rgba(255,255,255,1.0);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}

@include keyframes(crt-off) {
  0% {
    transform: scale(1.0, 1.0);
    opacity: 1.0;
  }
  40% {
    transform: scale(1.0, 0.005);
    box-shadow: inset 0 9999px 0 rgba(255,255,255,1.0);
  }
  70% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
    transform: scale(0.5, 0.005);
    box-shadow: inset 0 9999px 0 rgba(255,255,255,1.0);
  }
}


#info {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: $white;
  padding: 20px;
  z-index: 9999;
}

#slide-1 {
  height: 8000px;
  p {
    @include font($helloWorld, 35px, .9);
  }
  // overflow: hidden;
  .bcg {
    height: 100%;
    width: 100%;
    background: url("/images/heart-backg.gif") repeat center top fixed;
  }
  .mac-2 {
    position: fixed;
    width: 444px;
    height: 597px;
    bottom: 50px;
    left: 50%;
    margin-left: -222px;
    // border: 1px solid red;
    #mac-body-2 {
      position: absolute;
      left: 90px;
      top: 168px;
      white-space: nowrap;
    }
    .hello-english {
      position: absolute;
      top: 10px;
    }
    p {
      font: 400/.9 $helloWorld;
      // font-family: $helloWorld;
      // font-size: 35px;
      // line-height: .9;
      position: absolute;
      .hello-french {
        position: absolute;

      }
      .hello-spanish {
        position: absolute;
        top: 10px;

      }
    }
    .name-english {
      position: absolute;
      top: 40px;
    }
    .name-french{
      position: absolute;
      top: 30px;

    }
    .name-spanish {
      @extend .name-english;
      top: 30px;
    }
    .name-chinese {
      position: absolute;
      top: 30px;
    }
  }
  #mac {
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -222px;
    padding-top: 15px;
    #blank-screen{
      background: url('/images/blank-screen-on.png') no-repeat;
      height: 275px;
      width: 346px;
      position: absolute;
      bottom: 256px;
      left: 49px;
      // position: absolute;
      // #screen-on {
      //   z-index: 1;
      // }
    }
    #mac-body {
      //background: url("/images/macintosh-vector2.png") no-repeat center top fixed;
      position: absolute;
      bottom: 0;
      #mac-image {
      }
    }
    #screen {
      position: absolute;
      bottom: 245px;
      z-index: 90;
      @include border-radius(10px);

      // background: #bdc3c7;
      width: 443px;
      height: 350px;
      // z-index: 1;
      .hello-world {
        position: absolute;
        top: 175px;
        left: 90px;
        #hello-text {
          overflow: hidden;
          color: $black;
          border-right: 2px solid $black;
          @include animation('typing 4s steps(12, end), blink-caret 1s step-end infinite');
          white-space: nowrap;
          // -webkit-animation-timing-function: ease-out;
          // @include animation(typing 4s steps(10, end));
          // @include animation(blink-caret 1s step-end infinite);
        }
        #down {
          margin-left: auto;
          margin-right: auto;
          margin-top: 50px;
          font-size: 35px;
          text-align: center;
          display: none;
          @include animation(bounce 2s infinite);
        }
      }
    }
    #led {
      position: absolute;
      height: 10px;
      width: 10px;
      bottom: 143px;
      left: 397px;
      @include animation(color_change .2s infinite alternate);
      z-index: -1;
    }
  }
}

#slide-2 {
  height: 8000px;
  position: relative;

  /* second section */
  #bcg-2 {
    background-color: #3498db;
    height: 100%;
    width: 100%;
  }
  #container-2 {
    .about-me {
      position: absolute;
      top: 20px;
      left: 100px;
      p {
        @include font($roboto, 25px, .9);
        color: $white;
      }
    }
    .skills {
      position: absolute;
      height: 500px;
      top: 100px;
      left: 100px;

      .logo-box {
        border: 1px solid red;
        height: 250px;
      }
      .check {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -35px;
        margin-top: -35px;
        color: #c0392b;

      }
      .html5 {
        img {
          display: inline;
          width: 150px;
        }
      }
      .css3 {
        position: absolute;
        left: 200px;
        top: 0;
        img {
          width: 150px;
        }
      }
      .js {
        position: absolute;
        left: 400px;
        top: 0;
        img {
          width: 150px;
        }
      }
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  clear: both;
  #progress {
    height: 100%;
    background-color: #1abc9c;
    width: 100%;
    ul {
      margin-left: auto;
      margin-right: auto;
      list-style: none;
      width: 100%; /* or your desired width */
        li {
        float: left;
        width: 25%;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        font-family: $roboto;
        font-size: 25px;
        margin-top: 8px;
        }
      }
    }
    #progress-bar {
      height: 60px;
      width: 100%;
      // background: red;
      background: #16a085;
    }
  }
